<!--===== HEADER AREA =====-->
<header class="navbar custom-navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="logo">
                   <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <a class="theme-color" href="index.html">Badgepirates</a> <!--== logo ==-->
                </div>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12">
               <nav class="main-menu">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"> <!--== manin menu ==-->
                        <li class="active"><a class="smoth-scroll" href="#home">Home</a></li>
                        <li><a class="smoth-scroll" href="#order">Order</a></li>
                        <li><a class="smoth-scroll" href="#about">About</a></li>
                        <li><a class="smoth-scroll" href="#badges">Badges</a></li>
                        <li><a class="smoth-scroll" href="https://blog.badgepirates.com">Blog</a>
                    </ul>
                </div>
                </nav>
            </div>
        </div> <!--/.row-->
    </div> <!--/.container-->
</header>
<!--===== END HEADER AREA ======-->
