<!--===== ABOUT AREA =====-->
<div id="order" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-title">
               <h2>order.</h2>
                  <p>Order our latest badges</p>
               </div>
            </div>
        </div> <!--/.row-->

        <div class="row">
            <div class="col-md-5">
               <div class="author-image">
                    <img src="assets/img/Tindie-logo.png" alt="tindie logo"> <!--=== about image ===-->
                </div>
            </div>

            <div class="col-md-7">
              <div class="tab-content">
                  <div class="row"> <!-- Single Tab -->
                     <h3>Our badges are available on tindie.com!</h3>
                      <p>Tindie is the marketplace for makers to fund & sell their hardware creations.
                        Everyday it is becoming easier & cheaper to design & manufacture hardware. Small
                        businesses around the world are popping up in industries from electronics to
                        3D printing. Tindie works with those business to bring their products to the world.</p>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                          <a href="https://www.tindie.com/stores/BadgePirates/"><button class="btn btn-effect btn-sent">Order on tindie.com!!</button></a>
                        </div>
                  </div>
              </div>
            </div>
        </div> <!--/.row-->
    </div> <!--/.container-->
</div>
<!--===== END ABOUT AREA =====-->
